@model MyInflatables.ViewModels.ToyAddViewModel

@{ 
    ViewBag.Title = "Adding new toy :)";
}

<div class="col-lg-12"><h1 class="text-center text-capitalize">Add new Toy to my Collection :)</h1></div>

<div class="col-lg-8 col-lg-offset-2">
    <form asp-controller="Toys" asp-action="Create" method="post">
        <div class="form-group"><label>Toy name:</label><input asp-for="Toy.Name" class="form-control"/></div>
        <div class="row">
            <div class="form-group col-lg-6"><label>Category:</label><select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" placeholder=".col-xs-4"></select></div>
            <div class="form-group col-lg-6"><label>Producer:</label><select asp-for="ProducerId" asp-items="Model.Producers" class="form-control" placeholder=".col-xs-4"></select></div>
        </div>
        <div class="form-group"><label>Index:</label><input type="text" asp-for="Toy.Index" class="form-control"/></div>
        <div class="form-group"><button type="submit" class="btn btn-info center-block">Add toy</button></div>
    </form>
</div>