@{
    Layout = "_PanelLayout";
}

<div class="row">
    <p class="text-center text-uppercase">Overview</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Total Toys: xxx</p>
        <p>Total Categories: xxx</p>
        <p>Total Producers: xxx</p>
    </div>
</div>