

@{
    ViewBag.Section = "About me";
}

<div class="row">
    <div class="col-md-3">
        <img src="https://placehold.it/252x378?text=Bio picture" class="img-responsive img-thumbnail bio" alt="Responsive image">
        <ul class="list-unstyled">
            <li><p>Name: Michal (Haru)</p></li>
            <li><p>Location: Poland, Katowice</p></li>
        </ul>
    </div>
    <div class="col-md-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue non orci et eleifend. Curabitur eu tortor vel dui consectetur fringilla in eget augue. Cras lacinia hendrerit metus in iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer luctus nulla et nisi dapibus, a pharetra est hendrerit. Duis orci ante, vestibulum sit amet nunc sit amet, pellentesque sodales est. Nam sit amet libero volutpat, ornare lacus nec, pharetra lorem. Suspendisse facilisis eu nisi nec cursus. Etiam ac justo et lacus interdum tempor. Morbi bibendum libero eget sem auctor, eu elementum nibh dictum. Cras eleifend hendrerit ex vitae pellentesque.</p>
        <p>Duis nulla justo, ultrices ac est non, venenatis dictum justo. Suspendisse dapibus maximus placerat. Vivamus et eros at metus iaculis sodales vel pharetra turpis. Maecenas tristique enim ut accumsan euismod. Praesent at nisl urna. Aliquam metus libero, consequat at est ut, fermentum porttitor diam. Vestibulum lectus lectus, vehicula nec pulvinar sed, sodales tempor elit. Donec pretium eros hendrerit arcu egestas lacinia. Praesent ut lectus cursus, efficitur nulla sed, mattis sem. Aliquam volutpat ex felis, in convallis nisi varius id.</p>
        <p>Duis ornare, magna a commodo blandit, justo sapien rhoncus nisi, aliquet congue nisl lorem consectetur tortor. Praesent a varius orci, at ultricies massa. Morbi finibus sodales scelerisque. Phasellus massa erat, ullamcorper ut consequat sed, ullamcorper ac elit. Sed ullamcorper pharetra ipsum in consequat. Donec mollis ligula eu congue pellentesque. Donec ac convallis leo, quis iaculis lectus. Suspendisse pulvinar consequat imperdiet. Ut lobortis accumsan lectus ac scelerisque. Vestibulum tincidunt ligula sed tempus maximus. Cras fringilla, augue ut volutpat sodales, felis enim mollis orci, sed sollicitudin dui orci nec nisi. Etiam non felis quis nisl vulputate tristique in eget sapien. Suspendisse commodo tortor a ante tempus, in pharetra tortor iaculis. Cras rhoncus, libero sed tempus semper, orci ex porta odio, varius gravida sapien arcu in est.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet maximus arcu, sed iaculis felis. Nam ac hendrerit risus. Proin ornare arcu ut ultrices tempus. Vestibulum quis odio enim. Praesent vel ex congue, maximus velit vitae, commodo arcu. Aenean nec purus fermentum, tempus leo ut, elementum nisi. Sed vitae metus vel nulla tincidunt tincidunt ac volutpat ante. Donec eget tristique dolor. Nam ante sapien, imperdiet nec porta lacinia, semper eget odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ut eleifend elit. Morbi cursus felis commodo lectus pretium placerat.</p>
        <p>Mauris tincidunt mi eu erat dignissim, vel commodo ligula lacinia. Donec nec quam quis leo sollicitudin condimentum non vitae purus. Praesent id ullamcorper mauris, sed auctor lacus. Vivamus sit amet leo eu ipsum luctus convallis. Phasellus volutpat dui a interdum tempus. Proin ac dignissim risus, vitae lobortis augue. Vestibulum finibus congue libero nec bibendum.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center strech_full bg-collection">
        <h2 class="text-uppercase"><strong>Contact me</strong></h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form role="form" class="contact-form" method="post" asp-action="sendmessage" asp-controller="home">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Topic" id="Topic" placeholder="Topic" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn main-btn pull-right">Send a message</button>
                </div>
            </div>
        </form>
    </div>

</div>