<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header col-md-2">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Haru Collection</a>
                    </div>
                    <div class="col-md-9">
                        <ul class="nav navbar-nav">
                            <li class="active"><a asp-controller="item" asp-action="index">Home</a></li>
                            <li class=""><a asp-controller="item" asp-action="index" asp-route-display="collection">My collection</a></li>
                            <li class=""><a asp-controller="item" asp-action="index" asp-route-display="wanted">Wanted toys</a></li>
                            <li class=""><a href="#">My Clips</a></li>
                            <li class=""><a href="#">About me</a></li>
                        </ul>
                        <form class="navbar-form navbar-right" method="get" action="~/item/index/">
                            <div class="form-group">
                                <input class="form-control" name="search" placeholder="Search for..." />
                            </div>
                            <button type="submit" class="btn btn-success">SEARCH</button>
                        </form>
                    </div>
                    <div class="col-md-1"><a asp-controller="account" asp-action="login" class="btn btn-danger nav-margin">Login</a></div>
                </div>
            </nav>
        </header>
        @RenderBody()
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'showImageNumberLabel': true
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
