@model IEnumerable<Collection.Models.Toy>

@{
    foreach (var item in Model)
    {
    <div class="card_box @*card_shadow*@">
        <div class="card_body">
            @{
                var name = item.Gallery.FirstOrDefault()?.FileName;
                var src = !String.IsNullOrEmpty(name) ? $"/img/toys/thumbs/{name}.jpg" : "/img/no_img.jpg";
                <img src=@src />
            }
            
            @if (await AuthorizationService.AuthorizeAsync(User, "modify"))
            {
                <div class="control">
                    <a asp-action="Edit" asp-route-id="@item.ToyID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ToyID">Delete</a>
                </div>
            }
        </div>
        <div class="info"><p>@item.Name</p></div>
    </div>
    }
}