@model MyInflatables.ViewModels.ToyListViewModel

<form asp-controller="toys" asp-action="index" method="get" class="form-inline">
    
    <div class="form-group">
        <select asp-for="@Model.Category" asp-items="@Model.Categories" class="form-control"></select>
        <button type="submit" class="btn btn-info">Filter</button>

    </div>
</form>