<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/cards.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
