@model MyInflatables.ViewModels.ToyAddViewModel

<div class="form-group"><label>Toy name:</label><input asp-for="Toy.Name" class="form-control" /></div>
<span class="text-danger" asp-validation-for="Toy.Name"></span>
<div class="row">
    <div class="form-group col-lg-6"><label>Category:</label><select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" placeholder=".col-xs-4"></select></div>
    <div class="form-group col-lg-6"><label>Producer:</label><select asp-for="ProducerId" asp-items="Model.Producers" class="form-control" placeholder=".col-xs-4"></select></div>
</div>
<div class="checkbox">
    <label><input type="checkbox" asp-for="Toy.InCollection"> In Collection</label>
</div>
<div class="form-group"><label>Index:</label><input type="text" asp-for="Toy.Index" class="form-control" /></div>
<div class="form-group"><label class="btn btn-default btn-file">Browse<input type="file" asp-for="Images" hidden multiple></label></div>