@model Collection.ViewModels.RegisterViewModel

<div class="row">

    <div class="col-md-12">
        <div class="modal" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Register new Account</h1><br>
                    <form method="post" asp-controller="account" asp-action="register">
                        <input type="text" asp-for="Email" placeholder="Username">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input type="password" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <input type="submit" name="login" class="login loginmodal-submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
