@model Collection.ViewModels.LoginViewModel

<div class="row">

    <div class="col-md-12">
        <div class="modal" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Register new Account</h1><br>
                    <form>
                        <input type="text" asp-for="Email" placeholder="Username">
                        <input type="password" asp-for="Password" placeholder="Password">
                        <input type="password" asp-for="Password" placeholder="Confirm Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>