html {
    overflow-y: scroll;
}

body {
    padding-top: 51px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: rgb(96,101,105);
}

textarea {
    resize: none;
}

a, a:hover {
    text-decoration: none;
}

.main-container {
    padding-top: 15px;
    background-color: rgb(245,245,245);
}

.btn, .form-control {
    border-radius: 0;
}

.content-space{
    margin-top:15px;
    margin-bottom:15px;
}

nav {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1060 !important;
}

ul .nav {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

h2 {
    margin-top: 10px;
}

.control a {
    color: #dfdfdf;
    line-height: 40px;
    margin-left: 10px;
}

    .control a:hover {
        color: #dfdfdf;
    }

.thumbnail {
    position: relative;
    max-height: 199.367px;
    max-width: 246.7px;
    overflow: hidden;
}

    .thumbnail img {
        position: relative;
    }

.test2 {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 199.367px;
    width: 246.7px;
}

    .test2 span {
        position: relative;
        top: -6px;
        font-size: 24px;
        line-height: 199.367px;
        text-transform: uppercase;
    }

input[type=file] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0;
    opacity: 0;
}

.img-box {
    position: relative;
    max-height: 199.367px;
    max-width: 246.7px;
    overflow: hidden;
}

.mask {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.57);
    text-align: center;
    transition: all 0.2s ease-out;
}

    .mask span {
        color: white;
        font-size: 24px;
        line-height: 199.367px;
        cursor: pointer;
    }

.thumbnail:hover .mask {
    top: 0;
}

.list_img {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    height: 100px;
    width: 133.3333px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.responsive {
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

td {
    vertical-align: middle !important;
}

/* filtering bar */

.filter-container {
    background-color: rgb(225,225,225);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.showAs a {
    line-height: 93px;
}

.vertical-center {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-inline {
    margin: 8px 0;
}

.bio {
    margin-bottom: 20px;
    margin-top: 5px;
}

/* contact form */

.contact-form {
    margin-top: 15px;
    margin-bottom: 30px;
}

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
    }

    .contact-form .form-control {
        box-shadow: none;
        border-color: #eee;
        height: 49px;
    }

.form-control:focus {
    box-shadow: none;
    border-color: #262626;
    border-color: rgba(0, 0, 0, 0.31);
}

.contact-form .form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00a1ff;
    border-color: #262626;
    border-color: rgba(0, 0, 0, 0.31);
    color: #fff;
}

    .main-btn:hover {
        background: #007bff;
        color: #fff;
    }

/**/

.navbar-text {
    margin-left: 0;
    line-height: 20px;
}


.filterbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    line-height: 20px;
}

.login {
    padding-right: 0;
}

.bottom_margin {
    margin-bottom: 20px;
}

.post-title {
    color: #262626;
}

.strech_full {
    position: relative;
    left: 0;
    right: 0;
}

.bg-collection {
    background-color: #262626;
    color: #fff;
}

.delete-btn-post {
    margin-top: 15px;
    margin-bottom: 10px;
}

.publish_date {
    padding-left: 15px;
}

/* pagination */

.pg-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 20px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

a.pg-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.pg-active {
    background-color: rgba(255, 255, 255, 0.3);
}
