

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-uppercase"><strong>News</strong></h2>
    </div>
</div>

<section class="row">

    @{
        for (int i = 0; i < 4; i++)
        {
            <article class="panel panel-default">
                <div class="panel-heading"><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4></div>
                <div class="panel-body">
                    <img src="http://placehold.it/1280x300" class="img-responsive center-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at orci viverra, ullamcorper est sit amet, aliquet tellus. Etiam rhoncus rhoncus pulvinar. Maecenas porttitor lorem et laoreet hendrerit. Vivamus in quam elit. Aliquam posuere enim ac nisl pharetra commodo. In posuere nisl pulvinar elit tempus, in auctor lorem dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus aliquam enim sit amet ante commodo, sit amet viverra est facilisis. Nunc dictum consequat ligula, et rutrum orci. In pellentesque pretium purus, sit amet tincidunt mi elementum ac. Suspendisse eget odio posuere, vehicula sem sed, lobortis nisi.</p>
                    <p>Vivamus semper mattis ante, at placerat justo lobortis vitae. Donec quis justo commodo, cursus velit a, congue risus. Aenean odio turpis, dignissim in eleifend eget, eleifend non lorem. Fusce rhoncus pellentesque maximus. Vestibulum sollicitudin venenatis imperdiet. Vestibulum at quam eget ex molestie sollicitudin sed vitae ligula. Sed accumsan enim id feugiat molestie. Proin vitae quam ut est laoreet gravida quis gravida metus.</p>
                    <p>Nulla dictum id enim sed mollis. Duis et urna consectetur, gravida mauris non, rhoncus nulla. Ut quam felis, volutpat eget feugiat pretium, dapibus vel felis. Sed rutrum eget augue nec dapibus. Aliquam vel posuere ipsum. Proin pharetra tempor arcu, nec euismod lectus. Sed convallis elit ut neque tempus, aliquam mattis arcu scelerisque.</p>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 text-left">by Haru</div>
                        <div class="col-md-3 text-right">Posted on 22.05.2017 at 16:00</div>
                    </div>
                </div>
            </article>
        }
    }
</section>